
.top-menu {
    background: #18171C;
    padding: 40px;
  }
  .navbar-logo {
      display: inline-block;
  }
  a {
      display: block;
      text-decoration: none;
      color: chocolate;
      font-size: 30px;
  }
  .menu-main {
    list-style: none;
    margin: 5px;
    padding: 0;
    float: right;
    box-sizing: border-box;
  }
  .menu-main li {
      display: inline-block;
  }
  .menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 15px;
    padding-left: 5px;
    font-size: 17px;
    letter-spacing: 5px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #ffffff;
    transition:.2s linear;
  }
  
  .menu-main a:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      background-color: rgb(255, 145, 0)  ;
    }
  
  .menu-main a:hover:before {
      opacity: 1;
  }
  .basik {
      display: flex;
      
  }
  .left-bar {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      
  }
  .left-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
      width: 350px;
      margin: 20px;
      
      border-radius: 3px;
  }
  .none {
    text-decoration: none;
    list-style: none;
}
  .left-bar  .bar1 {
      background-color: #f1c40f;
      color: black;
      padding: 15px 0;
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
  }
  .left-bar .label {
      margin-top: 20px;
      display: block;
  }
  input,
  label {
      margin: .4rem 0;
  }
  .Shop .btnSend {
      background-color: #f1c40f;
  }
  #site-search {
      margin: 15px, 0;
  }
  li {
      margin-left: 10px;
      list-style: none;
  }
  .left-bar .but {
      border: 0;
      margin: 15px;
      background-color: #f1c40f;
      font-weight: 400;
  }
  input[type="submit"] {
  
      background-color: #f1c40f;
      cursor: pointer;
  }
  .but:hover {
      box-shadow:
        1px 1px #161a18,
        2px 2px #161a18;
        
        
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
  }
  
  .left-bar .bar2 {
      background-color: #f1c40f;
      color: black;
      padding: 15px 0;
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
  }
  .left-bar .bar3{
      background-color: #f1c40f;
      color: black;
      padding: 15px 0;
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
  }
  .table {
      margin-left: 35px;
  }
  .left-bar .table {
      width: 100%;
  }
  .right {
    display: flex;
    flex-direction: column;
}
h1 {
    margin-top: 50px;
    margin-left: 42px;
} 
.film1 {
    margin-top: 0;
    flex-direction: row;
    border: 1px dashed black;
    padding: 0.5vw;
    background-color: beige;
}
.fig1 {
    float:left; 
    margin: 7px 7px 7px 0; 
}
.btn  {
    margin-left: 87%;
    padding: 0%;
    width: 70px;
    height: 40px;
    background-color: #f1c40f;
    border: 0mm;
    cursor: pointer;
}
.film2 {
    margin-top: 3vw;
    flex-direction: row;
    border: 1px dashed black;
    padding: 0.5vw;
    background-color: beige;
}
.fig2 {
    float:left; 
    margin: 7px 7px 7px 0; 
}
.film3 {
    margin-top: 3vw;
    flex-direction: row;
    border: 1px dashed black;
    padding: 0.5vw;
    background-color: beige;
}
.fig3 {
    float:left; 
    margin: 7px 7px 7px 0; 
}
.film4 {
    margin-top: 3vw;
    flex-direction: row;
    border: 1px dashed black;
    padding: 0.5vw;
    background-color: beige;
}
.fig4 {
    float:left; 
    margin: 7px 7px 7px 0; 
}
.end {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    margin-top: 4%;
}
.fot {
    text-transform: uppercase;
}